/* .FAQCta {
} */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900;1000&display=swap');

.cta-container{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    background: #AA0136;
    width: 100%;
    height: 204px;
    font-family: 'Nunito';
    gap: 2rem
}

.subscribe-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.subscribe-subcontainer h4{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 28px;
    padding: .3rem;
}

.subscribe-subcontainer p{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 15px;
}

.action-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.action-subcontainer{
    display: flex;
    gap: 1rem;
    
}

.action-subcontainer input{
    border: 1px solid #FFFFFF;
    border-radius: 56px;
    width: 274px;
    padding: 16px 32px 16px 16px;
    background: #AA0136;
    color: #FFFFFF;
}

.action-subcontainer button{
    border: 1px solid #FFFFFF;
    border-radius: 56px;
    width: 166px;
    background: #FFFFFF;
    color:#AA0136;
}

.action-container p{
    font-weight: 500;
    font-size: 15px;
    color: #FFFFFF;
    padding-left: 3rem;
    padding-top: 1rem;
}


/* media queries */
@media screen and (max-width: 900px ){
    .cta-container{
        grid-template-columns: repeat(1, minmax(0, 1fr));
        padding: 1rem;
        height: 400px;
    }
    
    .subscribe-container{
        flex-direction: column;
    }

    .subscribe-container h4{
        font-size: 20px;
        text-align: center;
    }

    .subscribe-container p{
        font-size: 12px;
    }

    .action-subcontainer{
        flex-direction: column;
    }

    .action-subcontainer button{
        width: 274px;
        padding: 16px 32px 16px 16px;
    }

    .action-container p{
        font-size: 11px;
       
    }
}

