.ForgotPassword {
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
}


.Form {
    background-color:#FFFFFF;
    box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.05);
    border-radius:var(--border-radius-small);

    &label {
        color:var(--text-color-primary);
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 500;
        font-size: var(--font-size-4);
        line-height: var(--line-height-6);
        letter-spacing: var(--letter-spacing-2);
    }
    &input {
        padding:16px 32px 16px 16px;
        border: 1px solid var(--color-error-200);
        border-radius:var(--border-radius-small);

        &input::placeholder {
            font-family: Nunito;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0.25px;
            text-align: left;
        }
    }


}


.Form__title1 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-size-5);
    line-height: var(--line-height-9);
}
.Form__title2 {
    font-style: normal;
    font-weight: 500;
    font-size: var(--font-size-4);
    line-height:var(--line-height-6);
    letter-spacing: var(--letter-spacing-2);
    color: #8D8E90;
}
