.ContactUs {

    .Contact-frame_container {
        display: grid;
        grid-template-columns: auto auto;
        margin: 5%;
        box-sizing: border-box;
        // border-radius: 56px;
        gap: 20px;
        margin-bottom: 284px;
        // border: 1px solid #b9babb;
    }

    .input-container {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        align-items: left;
        margin: 0 10%;
        padding-top: 3%;
    }

    .contactus {
        font-weight: 700;
        font-size: 48px;
        margin-left: 9%;
        font-family: Nunito;
    }

    .Contact-us {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 44px;
        margin-bottom: 8px;
    }

    .contact-paragraph {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.5px;

    }

    .Contact-frame_container label {
        color: #000000;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 32px;
    }

    .Contact-frame_container input {
        width: 100%;
        height: 56px;
        border-radius: 48px;
        border: 1px solid #BBBBBB;

    }

    .Contact-frame_container textarea {
        width: 100%;
        height: 120px;
        border-radius: 10px;
        resize: none;
        border: 1px solid #8D8E91;
        margin-bottom: 36px;

    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .Contact-frame_container ::placeholder {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1px;
        color: #8D8E91;
        padding-left: 5px;
    }


    .chatbot_wrapper {
        box-sizing: border-box;
        background: #AA0136;
        border: 1px solid #AA0136;
        border-radius: 24px;
    
    }

    .input-container button {
        border: none;
        justify-content: center;
        align-items: center;
        padding: 16px;
        width: 70%;
        height: 50px;
        background: #AA0136;
        border-radius: 56px;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        cursor: pointer;
        color: #FFFFFF;
        width: 100%;

    }

    .input-container button:hover {
        background-color: #ee4a7e;
        transition: 0.2s;
    }



    .Contact-frame_container a {
        display: flex;
        padding: 10px;
        gap: 10px;
        list-style: none;
        cursor: pointer;
        align-items: center;
        color: #fff;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-decoration: none;

    }

    .Contact-frame_container a:hover {
        font-size: 15px;
        text-decoration: underline #777676;
        transition: 0.4s;

    }

    .social_last_sect {
        margin-top: 108px;
    }

    .social-media-link_chatbot2 {
        display: flex;
    }

    .social-media-link a .social-media-link img {
        cursor: pointer;
        text-decoration: none;
        width: 30px;
        height: 30px;
    }

    .social-media-link img:hover {
        width: 25px;
        height: 25px;
        transition: 0.2s;

    }

    .social-media-link {
        display: flex;
        flex-direction: row;
        padding-left: 1%;

    }

    .flex-card img {
        text-decoration: none;
        width: 20px;
        height: 20px;
    }

    #social-media-link_paragraph {
        font-weight: 400;
        font-size: 17px;
        line-height: 32px;
        color: #FFFFFF;
        padding-left: 3%;
    }

    .flex-card img:hover {
        width: 25px;
        height: 25px;
        transition: 0.2s;

    }

    #chatbot2_icon {
        float: right;
        width: 191px;
        height: 226px;
        background-blend-mode: color, normal;

    }

    #chatbot1 {
        width: 164px;
        height: 140px;
        background-blend-mode: color, normal;
        mix-blend-mode: multiply;
    }

    .flex-card {
        padding-left: 10%;
        padding-top: 5%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 10%;

    }

    .flex-card p {
        color: #FFFFFF;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 40px;
    }

    @media only screen and (max-width: 540px) {

        .Contact-frame_container {
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: none;
            margin: 0%;
            box-sizing: border-box;
            border: none;
            border-radius: 56px;
            gap: 20px;
        }

        .chatbot_wrapper {
            border-radius: 0;
            margin-bottom: 168px;
        }


        .input-container {
            border-radius: 56px;
            // border: 1px solid black;
            display: flex;
            flex-direction: column;
            row-gap: 30px;
            align-items: left;
            // margin: 10% 5% 0% 5%;
            // padding: 3% 5% 10% 5%;
        }

        .social-media-link_chatbot2 {
            display: flex;
            flex-direction: column-reverse;
        }

        .social_last_sect {
            margin-top: 0;
        }

    }




}