.Footer {
    width:100%;
    background-color: #fff;
    color: #131313;     
    display: grid;
    grid-template-columns: repeat(4,1fr);
    place-items: center;
    align-items: start;
    padding-block: 1rem;
    margin-block-start: 5rem;

    .footer__Logo{
        cursor: pointer;
        width: 200px;
        
    }

       .Footer__left__socials img {
        width: 15%;
        height: auto;
        cursor: pointer;
    }

    // @media screen and (max-width: 1200px) {
    //     padding: 30px;
    //     flex-direction: row;
    //     align-items: center;
    //     gap: 50px;
    // }

    // @media screen and (max-width: 900px) {
    //     padding: 15px;
    //     flex-direction: column-reverse;
    // }

    // justify-content: space-between;

    &__left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;

        // @media screen and (max-width: 1200px) {
        //     align-items: center;
        //     gap: 30px;
        // }

        // flex-basis: 30%;

        &__socials {
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 1.5rem;



            @media screen and (max-width: 1200px) {
                width: 100%;
                justify-content: space-around;
            }
        }
    }

    .Footer_company, 
    .Footer_help,
    .Footer_resources{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
        padding-block: 1rem;

        .Footer_heading{
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 2rem;

        }

        .Footer_link{
            cursor: pointer;
            text-decoration: none;
            font-size: 1rem;
            line-height: 1.5rem;
        }
    }




    // &__right {
    //     display: flex;
    //     justify-content: space-between;
    //     width: 50%;
    //     flex-basis: 60%;
        

    //     @media screen and (max-width: 1200px) {
    //         width: 100%;
    //         flex-direction: row;
    //         gap: 20px;
    //         padding: 0 10%;
    //     }

        
    //     @media screen and (max-width: 539px) {
    //         flex-direction: column;
    //         align-items: left;
    //     }


    //     h3 {
    //         font-size: 1.5rem;
    //         font-weight: 500;
    //         margin-bottom: 5px;
    //         display: flex;
    //     }

       
    //     &__links {
    //         display: flex;
    //         flex-direction: column;
    //         justify-content: space-between;
    //         gap: 10px;
    //         flex-basis: 50%;
    //         margin-right: 50px;

            
    //     @media screen and (max-width: 539px) {
    //         align-items: left;
    //         margin-right: 0;
    //     }

    //         &__link {
    //             font-size: 1.15rem;
    //             font-weight: 400;
    //             line-height: 35px;
    //             color: #222;
    //         }
    //     }
    // }
}

.copyright{
    bottom: 0;
    display: block;
    align-items: center;
    margin-top: 1rem;
}

.copyright hr{
    width: 97vw;
}


.copy-p{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}
