.Footer {
    background-color: #fff;
    color: #222;
    padding: 50px 50px;
    display: flex;

       .Footer__left__socials img {
        width: 15%;
        height: auto;
        cursor: pointer;
    }

    @media screen and (max-width: 1200px) {
        padding: 30px;
        flex-direction: row;
        align-items: center;
        gap: 50px;
    }

    @media screen and (max-width: 900px) {
        padding: 15px;
        flex-direction: column-reverse;
    }

    justify-content: space-between;

    &__left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px;

        @media screen and (max-width: 1200px) {
            align-items: center;
            gap: 30px;
        }

        flex-basis: 30%;

        &__socials {
            display: flex;
            gap: 30px;
            align-items: center;
            flex-wrap: wrap;

            @media screen and (max-width: 1200px) {
                width: 100%;
                justify-content: space-around;
            }
        }
    }

    &__right {
        display: flex;
        justify-content: space-between;
        width: 50%;
        flex-basis: 60%;
        

        @media screen and (max-width: 1200px) {
            width: 100%;
            flex-direction: row;
            gap: 20px;
            padding: 0 10%;
        }

        
        @media screen and (max-width: 539px) {
            flex-direction: column;
            align-items: left;
        }


        h3 {
            font-size: 1.5rem;
            font-weight: 500;
            margin-bottom: 5px;
            display: flex;
        }

       
        &__links {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 10px;
            flex-basis: 50%;
            margin-right: 50px;

            
        @media screen and (max-width: 539px) {
            align-items: left;
            margin-right: 0;
        }

            &__link {
                font-size: 1.15rem;
                font-weight: 400;
                line-height: 35px;
                color: #222;
            }
        }
    }
}

.copyright{
    bottom: 0;
    display: block;
    align-items: center;
    margin-top: 1rem;
}

.copyright hr{
    width: 97vw;
}


.copy-p{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}
