.DashBoard {
    // display:flex;
    // flex-direction: column;
}


.Section__1 {
    // display: flex;
    // flex-direction: column; 

}


.Section__2 {
    // display: flex;
    // flex-direction: column;
}



.Welcome {
        &:p   {
         font-size: 22px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0em;
         text-align: left;

        }

        &hr {
            border: 1px solid var(--color-neutral-100);
        }
} 



.Create__Story__Container {
    // background:url('/Assets/Images/Welcome.png');
    position: relative;
    background-color:red;
    min-height:228px;


    & button {
        // width:100%;
        position: absolute;
        padding:0,10%,0,10%;
        bottom:24px;
        left:50%;
        right:50%;
        transform: translate(-50%,-50%);
    }
}








.Button__Container {
    margin-top:var(--spacing-large);
    overflow-x:scroll;
    max-width:580px;
    display: flex;
    flex-direction:row; 
    justify-content: space-between;
}





.TrendingStyles {
    font-family: Nunito;
    font-size: var(--font-size-4);
    font-weight: 500;
    line-height: 22px;
    letter-spacing:var(--letter-spacing-1);
    text-align: left;
    

    &__Image__Container {
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
            width: 580px;
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap: 2em;
        &img {
                max-width: 169px;
                max-height:200px;
        }
    }
} 

.RecentStyles {

&__Image__container {
            display: grid;
            grid-template-columns: repeat(2,1fr);

            & img {
                    max-width: 140px;
                    max-height: 170px;
            }
}
} 

.Statistics {


}

.grey-border {
    border: 0.5px solid #CAC4D0;
}
.flex {
    display: flex;
    flex-direction: column;
}
.linear__progress__indicator {
    // padding:40px;
    max-width: 320px;
    border-radius: var(--border-radius-medium);
    justify-content: space-around;
    justify-content: center;
    align-items: center;

    & progress {
        max-width: 280px;
        // background-color:var(--color-error-200);
    }
}



.RecentStyles__Image__Container {
display: grid;
grid-template-columns: repeat(1, 1fr);
gap:var(--spacing-medium);

}

@media screen and (min-width:768px) {
.Dashboard__Container {
        display: flex;
        flex-direction: row;
    }

    .Create__Story__Container {

        // background:url('/Assets/Images/Welcome.png');
        & button {
            max-width: 230px;
        }
    }
   .TrendingStyles {

       &__Image__container {
           grid-template-columns: repeat(3, 1fr);
       }
    }
}

@media screen and (min-width:1024px) {
    
}