.create-story-wrapper {
  position: relative;
  display: block;
}

.cs-sub-container {
  width: 88%;
  margin: 30px auto;
}
.content-01 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arr-img-cont {
	display: flex;
	align-items: center;
  width: fit-content;
	border-radius: 50px;
	padding: 8px;
}
.arr-img-cont:hover {
	transition: all ease 1s ;
	box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.108);
}
.arr-img-cont > img {
  width: 100%;
	cursor: pointer;
}

.btn-container-01 {
  display: flex;
  align-items: center;
	gap: 10px;
  justify-content: space-evenly;
}
.btn-container-01 button {
  cursor: pointer;
  padding: 11.6px 25px;
  border-radius: 56px;
  font-size: 14px;
  font-weight: 500;
	font-family: 'Nunito';
	font-style: normal;
}
.btn-01 {
	border: 2px solid #AA0136;
	background-color: #fff;
	color: #AA0136;
}
.btn-02 {
	border: 2px solid #AA0136;
	background-color: #AA0136;
	color: #fff;
}


/* Content 02 Container
Main Story Container
*/
.content-02 {
	margin: 20px auto;
	padding: 20px 0;
	max-width: 990px;
}

.story-content-01 {
	display: flex;
	gap: 5px;
	flex-direction: column;
}
.story-content-01 h3 {
	font-size: 16px;
	color: #131313e9;
	line-height: 24px;
}
.story-content-01 > div input {
	width: 100%;
	border-radius: 48px;
	padding: 16px;
	border: 1px solid #BBBBBB;
	background: #FFFFFF;
  padding: 13.5px 25px 13.5px 16px;
	caret-color: #646363;
	letter-spacing: .9px;
	text-transform: capitalize;
}
.story-content-01 > div input::placeholder {
	color: #646363;
	font-size: 14px;
	line-height: 20px;
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 500;
	text-transform: none;
	letter-spacing: normal;
}
@media (max-width: 780px) {
	.story-content-01 > div input {
		border-radius: 36px;
		padding: 16px 25px 16px 16px;
	}
}
@media (max-width: 500px) {
	.story-content-01 > div input {
		border-radius: 10px;
	}	
}
.story-content-01 > div input:focus {
	outline-color: #BBBBBB;
}

.story-content-02 {
	display: flex;
	flex-direction: row;
	padding: 50px 10px 50px;
	gap: 50px;
	border: 1px solid black;
}
@media (max-width: 768px) {
	.story-content-02 {
		flex-direction: column;
		padding: 50px 10px 50px;
		gap: 25px;
	}	
}

.story-content-02 > div {
	background: #FCFCFC;
	max-height: 450px;
	border-radius: 8px;
	flex: 1;
}

.text-context {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 70px 5px;
}
.text-tabs-container {
	display: flex;
	flex-direction: column;
	width: 80%;
	gap: 17px;
	/* border: 1px solid red; */
}

@media (max-width: 768px) {
	.text-tabs-container {
		display: flex;
		flex-direction: column;
		width: 92%;
		gap: 17px;
		/* border: 1px solid red; */
	}	
}

.text-context-tabs p {
	font-size: 16px;
	letter-spacing: 0.1px;
	font-weight: 500;
	color: #000000;
	padding-bottom: 7px;
	font-family: 'Nunito';
	font-style: normal;
}
.text-context-tabs div textarea {
	display: flex;
	width: 100%;
	font-size: 12px;
	font-weight: 400;
	font-family: 'Nunito';
	letter-spacing: 0.25px;
	line-height: 20px;
	border: 1px solid #BBBBBB;
	border-radius: 8px;
	padding: 10px 5px 50px 10px;
	word-break: break-all;
	outline: none;
	caret-color: #646363;
}
.text-context-tabs div textarea::placeholder {
	color: #8D8B8B;
}

.gen-button-container {
	padding: 5px 0 0;
}

.gen-button-container button {
	width: 100%;
	background: #AA0136;
	border: none;
	padding: 12px 0;
	border-radius: 56px;
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 19px;
	color: #FFFFFF;
	cursor: pointer;
}

.image-context {
	border: 3px solid #F1F1F1;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (max-width: 768px) {
	.image-context {
		border: 3px solid #F1F1F1;
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 450px;
	}	
}
.image-context div {
	width: fit-content;
	height: fit-content;
}

.pages-index-container {
	border: 1px solid black;
}
.p-i-c-01 {
	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.p-i-c-01-new_page {
	
}