@import "../../theme/sass/mixins";

.Login {
  .center-align {
    text-align: center;
  }
  
  #logo, #logo2 {
    width: 109px;
    margin-bottom: 32px;
  }

  #logo2 {
    margin-left: auto;
    margin-right: auto;
  }

  
  #reset-password {
    color: $color-primary-main;
    text-align: center;
  }
  
  .or {
    margin-top: 16px;
    color: $color-text;
    align-items: center;
    justify-content: center;
  }
  
  .or p {
    padding-left: 22px;
    padding-right: 22px;
  }
  
  .hLine {
    width: 85px;
    height: 1px;
    background-color: #D9D9D9;
  }
  
  .continue-with {
    margin: 24px 0;
  }
  
  .content {
    padding-left: 5%;
    padding-top: 5%;
  }
  
  .content .text {
    margin-top: 10%;
    color: #fff;
  }
  
  .content .text h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 57px;
    font-weight: 400;
    margin-bottom: 32px;
    line-height: 64px;
  }
  
  .content .text p {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 300;
    width: 90%;
  }
}