@import "../../theme/sass/variables";

.User_Login {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15%;

  .user_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-inline: 5%;
    padding-block-start: 5%;

    #logo {
      width: 170px;
      margin-bottom: 32px;
      cursor: pointer;
    }
  }

  .user_text {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-inline: 5%;
    padding-block-start: 5%;

    .user_text_header {
      color: #ffffff;
      font-size: 2rem;
      line-height: 2.5rem;
    }

    .user_text_paragraph {
      color: #ffffff;
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }

  #user_auth {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .user_auth-nav {
      display: flex;
    }

    .user_form {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .user_input {
        padding-block: 16px;
        padding-inline: 8px;
        width: 100%;
        border: 1px solid #c7b8b9;
        border-radius: 10px;
        background-color: transparent;
      }

      .user_login_btn {
        background-color: var(--primary-color);
        margin-block: 1rem;
        padding-block: 1rem;
        border-radius: 10px;
        color: #ffffff;
        font-size: 1rem;
      }
    }
    .usersignup_option {
      text-align: center;
    }
    .usersignup_span {
      color: #aa0136;
      cursor: pointer;
    }
  }

  .center-align {
    text-align: center;
  }

  #logo,
  #logo2 {
    width: 130px;
    margin-bottom: 32px;
    cursor: pointer;
  }

  #logo2 {
    margin-left: auto;
    margin-right: auto;
  }

  #reset-password {
    color: $color-primary-main;
    text-align: center;
    text-decoration: underline;
  }

  .or {
    margin-top: 16px;
    color: $color-text;
    align-items: center;
    justify-content: center;
  }

  .or p {
    padding-left: 22px;
    padding-right: 22px;
  }

  .hLine {
    width: 85px;
    height: 1px;
    background-color: #d9d9d9;
  }

  .continue-with {
    margin: 24px 0;
  }

  .content {
    padding-left: 5%;
    padding-top: 2%;
  }

  .content .text {
    margin-top: 10%;
    color: #fff;
  }

  .back-arrow {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

  .content .text h2 {
    font-family: "Nunito", sans-serif;
    font-size: 44px;
    font-weight: 400;
    margin-bottom: 32px;
    line-height: 64px;
  }

  .content .text p {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 300;
    width: 90%;
  }
}
