@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900;1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
.FAQHero {
} */

.helpHero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FAF0F3;
    font-family: 'Nunito';
    top: 0;
    padding: 8rem;
    width: 100%;
}

.helpHero-container h1{
    color: #AA0136;
    font-weight: 800;
    font-size: 57px;
    /* line-height: 64px; */
}

.helpHero-container p{
    font-weight: 500;
    font-size: 18px;
    color: #131313;
    width: 571px;
    text-align: center;
    padding: .5rem;
}

.search-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 16px 32px;
}

.search-container img{
    position: absolute;
    padding: 1.5rem;
}

.search-container input{
    padding-left: 4rem;
    background: #ffffff;
    width: 601px;
    height: 56px;
    box-sizing: border-box;
    border: 1px solid #AA0136;
    border-radius: 56px;
}



/* media queries */
@media screen and (max-width: 900px ) {
    .helpHero-container{
        width: 100%;
        padding: 2rem;
    }
    .helpHero-container h1{
        font-size: 28px;
    }

    .helpHero-container p{
        width:271px;
        text-align: center;
        font-size: 10px;
    }

    .search-container{
        padding: 3px 12px;
    }

    .search-container input{
        width: 320px;
        height: 40px;
    }
}