.AboutUsHero {
	padding: 0px 124px 80px 124px !important;
	margin: 0 !important;
	font-family: 'Nunito' !important;
}
.hero-header {
	text-align: center !important;
	font-style: normal !important;
	font-weight: 400 !important;
	font-size: 24px !important;
	color: #aa0136 !important;
}
.hero-text {
	text-align: center !important;
	font-style: normal !important;
	font-weight: 600 !important;
	font-size: 45px !important;
	line-height: 52px !important;
	text-align: center !important;
	color: #131313 !important;
}

@media screen and (max-width: 1024px) {
	.AboutUsHero {
		padding: 0px 32px 64px 32px !important;
	}
}
@media screen and (max-width: 500px) {
	.AboutUsHero {
		padding: 0px 16px 62px 16px !important;
	}
	.hero-header {
		text-align: left !important;
		font-size: 16px !important;
		line-height: 24px !important;
	}
	.hero-text {
		font-size: 36px !important;
		text-align: left !important;
		line-height: 44px !important;
	}
}
