.BlogHero {
  background-color: #eeccd7;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  padding: 0rem 3rem;
}
.BlogHero__content {
  text-align: center;
  padding: 1rem 0;
}
.BlogHero__content--heading {
  font-size: 2.5rem;
}
.BlogHero__content--sub-heading {
  font-size: 1.5rem;
}
.BlogHero__content--text {
  color: #717171;
}

.BlogHero__image2-div,
.BlogHero__image1-div {
  display: flex;
}
.BlogHero__image1 {
  align-self: flex-center;
  width: 100%;
}
.BlogHero__image2 {
  align-self: flex-end;
  width: 100%;
}
.BlogHero__form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}
.BlogHero__form input {
  border-radius: 20rem;
  border: 1px solid rgba(67, 67, 67, 0.5);
  padding: 0.5rem 1rem;
  width: 80%;
  display: block;
  outline: none;
}
.BlogHero__form button {
  border-radius: 20rem;
  border: 1px solid #aa0136;
  background-color: #aa0136;
  color: #fff;
  padding: 0.5rem 1rem;
}
@media only screen and (max-width: 37.5em) {
  .BlogHero {
    padding: 0rem 2rem;
  }
  .BlogHero__image1-div,
  .BlogHero__image2-div {
    display: none;
  }
  .BlogHero__form {
    flex-direction: column;
  }
  .BlogHero__form input {
    width: 90%;
  }
  .BlogHero__form button {
    width: 100%;
  }
}
