div{
.Archive{
    display: flex;

}

@media (max-width: 768px) {

      .Archive {
        flex-direction: column;
      }
    }
      @media screen and (max-width: 700px) {

      .Archieve {
        width: 75%;
        font-family: "Nunito";
        margin-left: 15%;
        margin-top: 20%;
    }
  }
    }
  