.AboutUsVision {
  display: flex !important;
  align-items: stretch !important;
  background-color: white !important;
  font-family: "Nunito" !important;
  padding: 0px 72px 80px 72px !important;

  div {
    background: rgba(238, 204, 215, 0.13) !important;
    align-items: center !important;
  }
  .missionLeft {
    border-radius: 16px 0px 0px 16px !important;
    flex: 70% !important;
    padding: 72px 182px 50px 72px !important;
  }
  .missionRight {
    border-radius: 0px 16px 16px 0px !important;
    flex: 30% !important;
  }
  .missionLeftTop {
    font-family: "Nunito" !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 45px !important;
    line-height: 0px !important;
    color: #131313 !important;
    margin-bottom: 10%;
  }

  .missionLeftTop span{
    text-decoration: underline 5px #aa0136;

  }
  .missionLeftBottom {
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    letter-spacing: 0.5px !important;
    color: #131313 !important;
  }
  .missionLine {
    width: 120px !important;
    height: 0px !important;
    padding-bottom: 40px !important;
  }
  
  hr {
    border: 2.5px solid #aa0136 !important;
    border-radius: 5px !important;
    background-color: #aa0136 !important;
  }
  
  img {
    width: 80% !important;
    padding: 45px 88px 0px 0px !important;
  }
  
  @media screen and (max-width: 1224px) {
    img {
      width: 80% !important;
    }
  }
  
  @media screen and (max-width: 1024px) {
    padding: 0px 32px 64px 32px !important;

    .missionLeftTop {
      font-size: 36px !important;
    }
    .missionLeftBottom {
      font-size: 16px !important;
      line-height: 18px !important;
      letter-spacing: 0.37px !important;
    }
    .missionLeft {
      border-radius: 16px 0px 0px 16px !important;
      flex: 70% !important;
      padding: 44.57px 44px 44.18px 44px !important;
    }
    img {
      width: 80% !important;
    }
  }
  
  @media screen and (max-width: 600px) {
    padding: 0px 16px 62px 16px !important;
    flex-direction: column !important;

    .missionLeftTop {
      font-size: 24px !important;
    }
    .missionLeftBottom {
      font-size: 16px !important;
      line-height: 24px !important;
      letter-spacing: 0.5px !important;
    }
    .missionLeft {
      border-radius: 16px 16px 0px 0px !important;
      padding: 16px 16px 16px 16px !important;
    }
    .missionRight {
      border-radius: 16px 0px 0px 16px !important;
      padding: 16px 102px 16px 102px !important;
    }
  }
  
}