@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900;1000&display=swap");

.sideBar {
  background-color: white;
  font-family: "Nunito";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #e3e3e3;
  width: 200px;
  padding: 1rem;
  min-height: 100vh;
  position: fixed;
  top: 0;

  .sideBar__top {
    display: grid;
    gap: 1rem;
  }

  .icon1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #aa0136;
  }

  .story {
    border: 1px solid #faf0f3;
    // height: 50px;
    padding: 10px;

    background: #faf0f3;
    border-radius: 56px;
  }

  &__icon {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    position: relative;
    left: 1rem;
    // padding-top: 0.5rem;

    img {
      display: block;
      width: 12%;
      color: #f7f8f8;
    }

    h3 {
      font-weight: 500;
      font-size: 16px;
      padding-left: 0.5rem;
    }

    &.active {
      color: #aa0136;
      border-right: 3px solid #aa0136;
    }
  }

  &__icon:hover {
    color: #aa0136;
    border-right: 3px solid #aa0136;
  }

  &__adminSignature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    margin-top: 110px;

    img {
      width: 20%;
    }

    h3 {
      font-size: 20px;
    }

    p {
      font-size: 14px;
      color: #717171;
    }
  }

  &__signOut {

    display: flex;
    align-items: center;
    margin: 1rem 2rem;
    width: max-content;
    gap: 8px;


    img {
      width: 20%;
      background-color: #aa0136;
      border-radius: 56px;
      padding: 6px;
      text-align: center;
    }

    h3 {
      font-size: 16px;
      color: #aa0136;
    }

    .btn-submit {
      width: 100px;
    }

    .btn-submit:hover {
      cursor: pointer;
    }
  }

  // media queries
  // @media (max-width: 768px) {
  //   &__link {
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: center;
  //     align-items: center;
  //     gap: 2px;
  //     font-size: 10px;
  //   }

  //   &__icon {
  //     padding: 0.5rem;

  //     //   h3 {

  //     //   }
  //   }

  //   &__signOut {
  //     padding: 1rem;

  //     img {
  //       width: 10%;
  //     }
  //   }

  //   &__adminSignature {
  //     padding-top: 1rem;
  //   }
  // }
}

// .adminSignature{
//    display: flex;
//    flex-direction: column;
//    justify-content: center;
//    align-items: center;
// }

// .adminSignature img{
//     width: 20%;
// }

// .signOut{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     padding: 12px 24px;
//     gap: 8px;
//     background: #C90303;
//     border-radius: 56px;
//     margin: 2rem;
// }

// }
//     // media queries
//     /* Hiding the sidebar when the screen is less than 900px. */
//     @media screen and (max-width: 768px ){
//         // .SideBar{
//         //     width: 100%;
//         //     top:0;
//         //     left: 0;
//         //     position:absolute;
//         // }

//         // .signOut{
//         //     padding: 8px 8px;
//         // }

//         // .signOut h3{
//         //     font-size: 32px;
//         // }

//         // .SideBar{
//         //     display: none
//         // }

//     }
