.CreateStory {
  .wrapper {
    display: grid;
    padding: 24px;
    gap: 2rem;
    background: #f7f8f8;
    min-height: 100vh;
    position: relative;

    &.preview {
      .preview-main {
        padding: 24px;

        p {
          text-align: center;
          padding: 2rem;
        }

        .paragraph {
          font-size: 40px;
        }
      }

      .page-control {
        display: flex;
        align-items: center;
        gap: 1rem;

        button {
          color: #13131399;
          &:disabled {
            opacity: 0.2;
          }
        }
      }
    }

    &.create {
      grid-template-columns: 1fr 1fr;

      @media (max-width: 900px) {
        grid-template-columns: 1fr;
      }

      form {
        padding: 24px;
      }

      label {
        display: grid;
        margin-bottom: 24px;
        gap: 8px;
      }

      input,
      textarea {
        padding: 12px;
        outline: 0.5px solid #42383829;
        border-radius: 6px;

        &:focus-visible {
          outline: 0.5px solid #000;
        }
      }

      textarea {
        height: 120px;
      }

      .input-error {
        color: #ec9410;
      }

      .form-action {
        display: flex;
        justify-content: space-between;
        margin-top: 32px;
      }

      .loading {
        display: grid;
        height: 80%;
        place-content: center;
      }

      .gen-btn {
        color: #aa0136;
        font-size: 14px;
        padding: 1rem 2rem;
      }

      .image-card-list {
        display: grid;
        padding: 2rem;
        grid-template-columns: repeat(3, 1fr);
        gap: 28px;
      }
    }

    > div {
      background: #ffffff;
      border-radius: 10px;
      min-height: 500px;
    }

    .heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2rem;
      height: 100px;
      border-bottom: 1px solid #13131329;

      h2 {
        font-size: 22px;
      }
      p {
        color: #13131399;
      }
    }
  }
}
