.AdminTableRow{
    display: flex;
    width: 100%;
    div{
        width: 20% !important;
        border: 1px solid #E4E4E4;
        padding: 7.5px 10px;
        color: #181818;
        letter-spacing: 0.5px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        max-width: 20% !important;
        &:first-child{
            width: 100% !important;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow-x: hidden;
            display: flex;
            gap: 10px;
            align-items: center;
        }
    }
}