.Home {
  padding: 2rem;

  .Landing {
    display: flex;
    margin: auto;
    width: 80%;
    font-family: "Nunito", sans-serif;
    padding: 2rem 0;
  }
  .h3-header {
    font-size: 32px;
    font-weight: 400;
    text-align: center;
  }
  .h3-header .span{
    font-size: 32px;
  }
  img {
    max-width: 100%;
  }
  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding: 1em;
  }
  .header-text {
    color: #131313;
    font-weight: 900;
    font-size: 4rem;
  }
  p {
    font-weight: 500;
    color: #717171;
  }
  button {
    padding: 1rem;
    border-radius: 56px;
    width: 230px;
    font-weight: 500;
    border: 1px solid #aa0136;
  }
  .create {
    background-color: #aa0136;
    color: #ffffff;
  }
  .read {
    background: transparent;
    color: #aa0136;
    font-size: 14px;
    font-weight: 500;
  }
  .span {
    color: #aa0136;
  }
  .reasons--grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin: 2rem 0;
    place-items: center;
  }

  .grid--one,
  .grid--three {
    display: grid;
    gap: 2rem;
  }

  .flex {
    display: flex;
    align-items: center;
  }
  .h4-header {
    font-size: 24px;
    font-weight: 500;
    margin-left: 10px;
  }
  .steps {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    margin: 2rem 0;
  }
  .number {
    height: 56px;
    width: 56px;
    border-radius: 50%;
    font-size: 26px;
    font-weight: 500;
    display: grid;
    place-items: center;
  }
  .red {
    background-color: #eeccd7;
    color: #aa0136;
  }
  .blue {
    color: #052f4d;
    background-color: #cedae3;
  }
  .green {
    color: #066042;
    background-color: rgba(6, 96, 66, 0.1);
  }
  .orange {
    color: #ec9410;
    background-color: rgba(236, 148, 16, 0.1);
  }
  .button--flex {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0;
  }
  .button--flex button {
    border-radius: 8px;
    background-color: #aa0136;
    color: #ffffff;
  }
  .testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .testimonial-message {
    padding: 1rem;
    border: 1px solid #717171;
    border-radius: 8px;
  }

  .avatar--profile{
    text-align: center;
  }
  .avatar{
    display: flex;
    justify-content: center;
  }
  .avatar img{
    width: 64px;
  }

  .lead {
    margin-bottom: 24px;
  }

  @media screen and (min-width: 1190px) {
    .read {
      margin-left: 1rem;
    }
  }
  @media screen and (min-width: 801px) and (max-width: 1189px) {
    .steps {
      padding: 0 5em;
    }
  }
  @media screen and (max-width: 800px) {
    header,
    .reasons--grid,
    .testimonials{
      grid-template-columns: 1fr;
      padding: 1em;
    }
    .read{
      margin-top: 1rem;
    }
    .steps{
      grid-template-columns: 1fr;
    }
    .header-text{
      font-size: 2rem;
    }
    .button--grid {
      text-align: center;
      margin: 1em 0;
    }
  }
}
