.BlogPost {
  padding: 0rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media only screen and (max-width: 37.5em) {
    padding: 0rem 2rem;
  }

  &__heading{
    font-size: 1.5rem;
    font-weight: 400;
}
&__heading-div {
  width: 5rem;
  height: .2rem;
  display: block;
background-color:  #eeccd7;
border-radius: 5rem;
margin-top: -1rem;
margin-bottom: 1rem;
}
&__card {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 37.5em) {
    flex-direction: column;
  }
}
&__card-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  @media only screen and (max-width: 56.25em) {
    grid-template-columns: repeat(2, 1fr);
  }

@media only screen and (max-width: 37.5em) {
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
  gap: 2rem;
}
}
}
