@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");

.Settings {
  display: flex;
  width: 100%;
  font-family: "Nunito";
  font-style: normal;

  .side-bar2 {
    width: 240px;
    height: 100vh;
  }

  .wrap-content {
    margin: 0 60px;
  }

  .head-text {
    width: 124px;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    margin: 30px 0;
  }

  .btn {
    border-radius: 0;
    border-bottom: 2px solid #aa0136;
    width: 74px;
    color: black;
  }

  .nav-section {
        padding: 0;
        margin: 0; 
        display: flex;
        align-items: center;
        gap: 60px;
        margin: 20px 0;
        border-bottom: 1px solid #d2d2d2;
        padding: 5px 0;
  }

  .mobile-nav {
    display: none;
  }
 

  button {
    font-size: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
  }

  @media only screen and (max-width: 480px) {
    
    .side-bar2 {
      display: none;
    }

    .nav-section {
      display: none;
    }

    .mobile-nav {
      display: block;
      width: 90%;
    }
    .mob-nav {
      width: 90%;
      height: 45px;
      border-radius: 6px;
      border: 1px solid black;
      background-color: white;
      margin-left: 30px;
    }
  }
}
