// @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");

// .container {
//   margin: 0;
//   padding: 0;
//   font-size: 14px;


// .dashboard {
//   display: flex;
//   width: 20%;
//  ;
// }

// /* Sidebar */

// .sidebar {
//   width: 100%;
//   background: #f7f8f8;
//   padding: 30px;
//   position: static;
// }

// .sidebar-logo img {
//   width: 40%;
// }

// /* sidebar menu */
//  .sidebar-menu {
//   margin-top: 30px;
// }

// .side {
//   display: flex;
//   align-items: center;
//   gap: 10px;
//   margin-bottom: 15px;
//   padding: 10px;
// }

// .side img {
//   width: 12%;
// }

// .side p {
//   font-family: "Nunito";
//   font-style: normal;
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 22px;
//   color: #787777;
// }

// .side:hover, 
// .side:focus {
//   background: #aa0136;
//   border-radius: 56px;
  
//   cursor: pointer;
// } 

// .side > p:hover {
//   color: #f7f8f8;
// }


// /* Avatar zone */

// .avatar-zone {
//   display: flex;
//   justify-content: center;
//   flex-direction: column;
//   text-align: center;
//   position: relative;
//   top: 300px;
// }

// .avatar {
//   display: flex;
//   justify-content: center;
// }

// .avatar img {
//   width: 20%;
//   margin-bottom: 10px;
// }

// .avatar-zone h4 {
//   font-family: "Nunito";
//   font-style: normal;
//   font-weight: 500;
//   font-size: 20px;
//   line-height: 27px;
//   color: #131313;
// }

// .avatar-zone p {
//   font-family: "Nunito";
//   font-style: normal;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 19px;
//   color: #717171;
// } 

// /*Log out */
// .log-out {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   gap: 10px;
//   margin-top: 20px;
//   padding: 10px;
//   background: #ffffff;
//   border-radius: 56px;
//   cursor: pointer;
//   position: relative;
//   top: 300px;
// }

// .log-out img {
//   width: 12%;
// }

// .log-out p {
//   font-family: "Nunito";
//   font-style: normal;
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 22px;
//   color: #787777;
// } 

// /* Main board */
//  .main-board {
//   width: 80%;
// } 

// .wrapper-cover {
//   width: 80%;
// }

// .nav-tab {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   margin: 10px 15px 30px 0;
  
// }


// .rig {
//   color: #f83f23;
// }

// .container-cover {
//   display: flex;
//   gap: 23px;
//   flex-direction: row;
//   font-family: "Nunito", sans-serif;
// }

// /* Header section */
// .nav-section {
//   width: 97%;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   margin: 15px 5px;
//   padding: 25px 0;
//   border-top: 1px solid #e4e4e4;
//   border-bottom: 1px solid #e4e4e4;
// }

// .admin-2btn {
//   display: none;
// }

// .nav-btns {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   gap: 40px;
//   margin: 30px 0 0 0;
// }

// .nav-btns > button {
//   border: none;
//   width: 110px;
//   background-color: white;
//   padding: 9px;
// }

// .nav-btns :hover {
//   padding: 8px 15px;
//   border-radius: 56px;
//   border: none;
//   background-color: #aa0136;
//   color: white;
// }

// .admin-btn > button {
//   border: 1px solid #aa0136;
//   border-radius: 56px;
//   padding: 8px 15px;
//   background-color: white;
//   width: 148px;
// }

// .admin-btn {
//   position: relative;
//   top: 20px;
// }

// /* form designs */
//  .form-section {
//   display: flex;
//   flex-direction: column;
//   gap: 16px;
//   width: 50%;
// } 

//  .inputs2 { 
//   width: 100%;
//   padding: 10px 32px;
//   border: 1px solid #e4e4e4;
//   border-radius: 56px;
//   margin: 10px 0;
// }

// .city {
//   width: 100%;
//   padding: 10px 32px;
//   border: 1px solid #e4e4e4;
//   border-radius: 56px;
//   margin: 10px 0;
// }

// .form-name {
//   display: flex;
//   justify-content: space-between;
//   gap: 10px;
// }
// .region-section {
//   display: flex;
//   justify-content: space-between;
//   gap: 10px;
// }

// /* Email Section  */
// .email-cover {
//   width: 50%;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   margin: 25px 0;
// }

// .a {
//   color: #AA0136;
//   text-decoration: none;
// }

//  .email-details {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

// .mail-inputs {
//   width: 50%;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   gap: 10px;
// }

// .mail-btns {
//   display: flex;
//   align-items: center;
//   gap: 10px;
// } 

// .btn-1 {
//   border: 1px solid #aa0136;
//   width: 90px;
//   background-color: white;
//   padding: 10px;
//   border-radius: 52px;
// }

// .btn-2 {
//   border: 1px solid #aa0136;
//   background-color: #aa0136;
//   color: white;
//   width: 90px;
//   padding: 10px;
//   border-radius: 52px;
// }

// /* Footer-Section */
// .footer {
//   display: flex;
//   align-items: center;
//   gap: 5px;
//   margin-top: 10px;
//   border-top: 1px solid #e4e4e4;
//   padding: 15px 0;
// }

// .footer > input {
//   position: relative;
//   top: -14px;
//   margin-top: 10px;
// } 

// @media only screen and (max-width: 480px) {
//   *{
//     margin: 10px 2px;
//   }
//     .container {
//         display: block;
//         font-family: "Nunito", sans-serif; 
//         margin: 0 auto;
//       }

//       .dashboard {
//         display: none;
//       }

//       .nav-tab {
//         margin: 5px 10px 15px 10px;
//       }

//       .nav-head {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//       }

//       .admin-btn {
//         display: none;
//       }

//       .admin-2btn {
//         display: block;
//       }

//       .admin-2btn > button {
//         border: 1px solid #aa0136;
//         border-radius: 56px;
//         padding: 8px 15px;
//         background-color: white;
//         width: 110px;
//       }
      
//       .wrapper {
//         width: 98%;
//       }

//       .nav-btns {
//         width: 100%;
//         display: flex;
//         flex-direction: row-reverse;
//         align-items: center;
//         margin: 20px 0 0 0;
//       }
      
//       .nav-btns > button {
//         border: none;
//           /* width: 100%; */
//         background-color: white;
        
//       }
//       .admin-btn > button {
//         border: 1px solid #aa0136;
//         border-radius: 56px;
//         padding: 9px 5px;
//         position: relative;
//         top: -17px;
//         left: -165px;
//         background-color: white;
//         width: 90px;
//         margin-bottom: 10%;
//       }

//       .form-section {
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         gap: 20px;
//         width: 90%;
//         margin: 0 auto;
//       }
      
//       .inputs2 {
//         padding: 10px 32px;
//         border: 1px solid #e4e4e4;
//         border-radius: 56px;
//         margin: 10px 0;
//         width: 100%;
//       }
    
//       .city {
//         width: 100%;
//         padding: 10px 32px;
//         border: 1px solid #e4e4e4;
//         border-radius: 56px;
//         margin: 10px 0;
//       }

//       .form-name {
//         display: flex;
//         flex-direction: column;
//       }
//       .region-section {
//         display: flex;
//         flex-direction: column;
//       }

//       .email-cover {
//         width: 90%;
//         display: flex;
//         justify-content: space-between;
//         margin: 0 auto;
//       }

//       .email-details {
//         width: 100%;
//         display: flex;
//         flex-direction: column;
//         margin: 10px 0;
//       }

//       .mail-inputs {
//         width: 90%;
//         display: block;
//       }

//       .mail-btns {
//         width: 90%;
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         gap: 10px;
//       } 


      
      
//        .btn-1 {
//         border: 1px solid #aa0136;
//         width: 120px;
//         background-color: white;
//         padding: 10px;
//         border-radius: 52px;
        
//       }
      
//       .btn-2 {
//         border: 1px solid #aa0136;
//         background-color: #aa0136;
//         color: white;
//         width: 120px;
//         padding: 10px;
//         border-radius: 52px;
//       } 

//       .footer > input {
//         width: 10%;
//         position: relative;
//         top: -10px;
//       }

//       .footer {
//         width: 90%;
//         display: flex;
//         align-items: center;
//         border-top: 1px solid #e4e4e4;
//         margin: 0 auto;
//       }  

// }
// }

.Settings {
  display: flex;
  width: 100%;

  .side-bar2 {
    width: 240px;
    border: 1px solid black;
    height: 100vh;
  }

  @media only screen and (max-width: 480px) {
    
    .side-bar2 {
      display: none;
    }
  }
}
