/* .Button{
    
} */

.FAQ-button {
	padding: 16px;
	background: #aa0136;
	border-radius: 56px;
	color: #fff;
	width: 230px;
	border: 1px solid #aa0136;
}

/* media queries */
@media screen and (max-width: 900px) {
	button {
		width: 150px;
		padding: 10px;
	}
}
