.Button {
        display: inline-block;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        cursor: pointer;
        text-align: center;
        width: 100%;
        outline: none;
        border: none;
        border-radius:var(--border-radius-small);
        font-family: Nunito;
        padding:16px;
}


.Primary {
    background-color: var(--color-primary-main);        
    font-size: var(--font-size-3);
    font-weight: 500;
    line-height: 19px;
    color:var(--color-white);
}

.Secondary {
    color:var(--color-primary-main);
    border: 1px solid var(--color-primary-main);
    background-color:var(--color-white);
    max-width:127px;
}