@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.side-bar {
  width: 15%;
  border: 1px solid black;
}

.wrapper {
  width: 80%;
}

span {
  color: #f83f23;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-family: "Nunito", sans-serif;
}

/* Header section */
.nav-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 5px;
  padding: 15px 0;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}

.nav-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin: 15px 0 0 0;
}

.nav-btns > button {
  border: none;
  width: 110px;
  background-color: white;
  padding: 9px;
}

.nav-btns :hover {
  padding: 8px 15px;
  border-radius: 56px;
  border: none;
  background-color: #aa0136;
  color: white;
}

.admin-btn > button {
  border: 1px solid #aa0136;
  border-radius: 56px;
  padding: 8px 15px;
  background-color: white;
  width: 148px;
}

/* form designs */
 .form-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 50%;
} 

 .inputs2 { 
  width: 70%;
  padding: 10px 32px;
  border: 1px solid #e4e4e4;
  border-radius: 56px;
  margin: 10px 0;
}

.city {
  width: 87%;
  padding: 10px 32px;
  border: 1px solid #e4e4e4;
  border-radius: 56px;
  margin: 10px 0;
}

.form-name {
  display: flex;
  justify-content: space-between;
}
.region-section {
  display: flex;
  justify-content: space-between;
}

/* Email Section  */
.email-cover {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0;
}

a {
  color: #AA0136;
  text-decoration: none;
}

 .email-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mail-inputs {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mail-btns {
  display: flex;
  align-items: center;
  gap: 10px;
} 

.btn-1 {
  border: 1px solid #aa0136;
  width: 90px;
  background-color: white;
  padding: 10px;
  border-radius: 52px;
}

.btn-2 {
  border: 1px solid #aa0136;
  background-color: #aa0136;
  color: white;
  width: 90px;
  padding: 10px;
  border-radius: 52px;
}

/* Footer-Section */
.footer {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
  border-top: 1px solid #e4e4e4;
  padding: 15px 0;
}

.footer > input {
  position: relative;
  top: -14px;
  margin-top: 10px;
} 

@media only screen and (max-width: 480px) {
  *{
    margin: 10px 2px;
  }
    .container {
        display: block;
        font-family: "Nunito", sans-serif; 
        margin: 0 auto;
      }
      
      .wrapper {
        width: 98%;
      }
      .nav-btns {
        width: 80%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin: 20px 0 0 0;
      }
      
      .nav-btns > button {
        border: none;
          /* width: 100%; */
        background-color: white;
        
      }
      .admin-btn > button {
        border: 1px solid #aa0136;
        border-radius: 56px;
        padding: 9px 5px;
        position: relative;
        top: -17px;
        left: -165px;
        background-color: white;
        width: 90px;
        margin-bottom: 10%;
      }

      .form-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        width: 90%;
        margin: 0 auto;
      }
      
      .inputs2 {
        padding: 10px 32px;
        border: 1px solid #e4e4e4;
        border-radius: 56px;
        margin: 10px 0;
        width: 80%;
      }
    
      .city {
        width: 80%;
        padding: 10px 32px;
        border: 1px solid #e4e4e4;
        border-radius: 56px;
        margin: 10px 0;
      }

      .form-name {
        display: flex;
        flex-direction: column;
      }
      .region-section {
        display: flex;
        flex-direction: column;
      }

      .email-cover {
        width: 90%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
      }

      .email-details {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 10px 0;
      }

      .mail-inputs {
        width: 90%;
        display: block;
      }

      .mail-btns {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
      } 


      
      
       .btn-1 {
        border: 1px solid #aa0136;
        width: 120px;
        background-color: white;
        padding: 10px;
        border-radius: 52px;
        
      }
      
      .btn-2 {
        border: 1px solid #aa0136;
        background-color: #aa0136;
        color: white;
        width: 120px;
        padding: 10px;
        border-radius: 52px;
      } 

      .footer > input {
        width: 10%;
        position: relative;
        top: -10px;
      }

      .footer {
        width: 90%;
        display: flex;
        align-items: center;
        border-top: 1px solid #e4e4e4;
        margin: 0 auto;
      }  

}
