@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900;1000&display=swap');

.FAQCategories {
    width: 100%;
    font-family: 'Nunito';


.helpContainer-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.helpContainer-text h2{
    color: #AA0136;
    font-size: 45px;
    font-weight: 500;
    text-transform: capitalize;

}

.helpContainer-text p{
    color:  #131313;
    font-weight: 600;
    font-size: 22px;

}

.sub-helpCategories-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap:3rem
}

.gettingStarted-container{
    border: 1px solid #AA0136;
    border-radius: 8px;
    width: 280px;
    height: 220px;
}

.gettingStarted-container h3{
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    padding-top: 2rem;
    color: #AA0136;
}


.pricing-container{
    border: 1px solid #E3AABC;
    border-radius: 8px;
    width: 280px;
    height: 220px;
}

.pricing-container h3{
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    padding-top: 2rem;
    color: #AA0136;
}

.categories-img{
   
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.features-container{
    border: 1px solid #E3AABC;
    border-radius: 8px;
    width: 280px;
    height: 220px;
    
    
}

.features-container h3{
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    color: #AA0136;
}

h3 {
    text-align: center;
    color: #AA0136;
    font-weight: 500;
    font-size: 45px;
    text-transform: capitalize;
}

/* media queries */
@media screen and (max-width: 900px ){
    width: 100%;

    .helpContainer-text h2{
        font-size: 20px;
    }

    .helpContainer-text  p{
        font-size: 12px;
    }

    .gettingStarted-container{
        width: 400px;
        height: 140px;
    }

    .categories-img{
         width: 50%;
        
    }

    .gettingStarted-container h3{
        font-size: 10px;
        padding-top: 1rem;
    }

    .features-container{
        width: 400px;
        height: 140px;
    }

    .features-container h3{
        font-size: 10px;
        
    }

    .pricing-container {
        width: 400px;
        height: 140px;
    }

    .pricing-container h3{
        font-size: 10px;
        padding-top: 1rem;
    }

    .sub-helpCategories-container{
        gap:1.5rem
    }

    h3{
        font-size: 25px;
    }

}
}

