.ViewStoryCard {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 52px;
}

.button {
	display: block;
	border-radius: 9999px;
	border: 1px solid #aa0136;
	padding: 1rem 3rem;
	width: max-content;
	margin: 1rem auto;
}

@media (max-width: 720px) {
	.mobile:not(:nth-child(1)) + .mobile:not(:nth-child(2)) {
		display: none;
	}

	.ViewStoryCard {
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
	}
}
