
.Account {
  width: 100%;
  font-size: 20px;

//   .cover-2 {
//     margin: 0 20px;
//   }
  .image-section {
    padding: 0;
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .img-1 {
    width: 72px;
  }

  .btns-1 {
    width: 120px;
    height: 40px;
    background: #aa0136;
    color: white;
    border-radius: 56px;
  }

  .btns-2 {
    width: 120px;
    height: 40px;
    border: 1px solid #aa0136;
    border-radius: 56px;
  }
  form {
    margin: 20px 0;
  }
  .grid-section1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    gap: 40px;
    margin: 20px 0;
  }

  .input2 {
    width: 300px;
    border: 2px solid #e4e4e4;
    height: 40px;
    border-radius: 56px;
  }

  .input2::-webkit-input-placeholder {
    font-weight: 500px;
    font-size: 14px;
    line-height: 20px;
    padding-left: 15px;
    color: #8d8e91;
  }

  .span1 {
    color: red;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500px;
  }

  .footer-section {
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 30px 0;
  }

  .text-1 {
    font-size: 14px;
    line-height: 24px;
  }

  .btns-3 {
    color: #aa0136;
  }
  .btns-4 {
    width: 176px;
    height: 45px;
    background: #aa0136;
    color: white;
    border-radius: 56px;
  }

  @media only screen and (max-width: 480px) {
    .cover-2 {
        margin-right: 30px;
    }

    form {
        margin: 20px 0;
    }

    .grid-section1 {
        display: flex;
        flex-direction: column;
        margin: 20px 0;
    }
    .input2 {
      width: 100%;
    }
    
    .footer-section {
        display: block;
        padding: 20px 0;
    }

    .btns-4 {
        margin-top: 30px;
    }
  }
}


