.imagecard {
	display: flex;
	position: relative;
	border-radius: 7px;
	overflow: hidden;
	cursor: pointer;
}

.item_img {
	position: relative;
	width: 100%;
	object-fit: cover;
	z-index: 0;
}

.check_img {
	display: block;
	position: absolute;
	top: 25%;
	right: 10%;
	width: 50px !important;
	z-index: 1;
}
.check_img_off {
	display: none !important;
}