.UserStoriesList {
    max-width: 100vw;
    display: flex;
    align-items:center;
    flex-direction:column;
    margin-top: 20px;
    margin-bottom:20px;


    .details {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        // max-width: 80%;
        .arrow {
            display: flex;
            flex-direction: row;
            // justify-content: flex-start;            
            margin-right: 200px;
            padding-right: 250px;
            cursor: pointer;
            img{
                width: 34px;
                height: 34px;
            }
            div  {
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 600;
                font-size: 32px;
                line-height: 36px;
                color: #181818;
                
            }
        }
        .avatar {
            div {
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 40px;
                color: #181818;

            }
           img {
                width: 48px;
                height: 48px;
                margin-left: 10px;
            }
        }

    }
    
}

@media screen  and (max-width:1024px){
    .UserStoriesList {
           .details {
            .arrow{
                margin-right:180px;
                padding-right:200px;
            }
           }
    }
}
@media screen  and (max-width:768px){
    .UserStoriesList {
           .details {
            .arrow{
                margin-right:80px;
                padding-right:80px;
            }
           }
    }
}
@media screen  and (max-width:430px){
    .UserStoriesList {
           .details {
            .arrow{
                margin-right:40px;
                padding-right:20px;
                div{
                    font-size: 20px;
                }
            }
            .avatar {
                div {
                    font-size: 12px;
                }
            }
           }
    }
}
