.header {
  text-align: left;
}
.header h2 {
  margin-bottom: 16px;
}
.header p {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  margin-bottom: 16px;
}

#logo {
  width: 109px;
  margin-bottom: 32px;
}

#reset-password {
  color: var(--primary-color);
  text-align: center;
}

.or {
  margin-top: 16px;
  color: $color-text;
  align-items: center;
  justify-content: center;
}

.or p {
  padding-left: 22px;
  padding-right: 22px;
}

.hLine {
  width: 85px;
  height: 1px;
  background-color: #D9D9D9;
}

.continue-with {
  margin: 24px 0;
}

.content {
  padding-left: 5%;
  padding-top: 5%;
}

.content .text {
  margin-top: 10%;
  color: #fff;
}

.content .text h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 57px;
  font-weight: 400;
  margin-bottom: 32px;
  line-height: 64px;
}

.content .text p {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 300;
  width: 90%;
}

.form-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.back-button {
  margin-bottom: 120px;
}