.UserDashboardSide {
  * {
    margin: 0;
  }

  .sidebar {
    margin: 0;
    padding: 10px;
    width: 272px;
    background-color: #ffffff;
    position: fixed;
    height: 100%;
    overflow: auto;
    border: 1px solid #d2d2d2;
  }

  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    text-align: center;
  }

  .logo {
    width: fit-content;
  }

  .sidebar a.active {
    padding: 12px 24px;
    gap: 8px;
    color: white;
    background: #aa0136;
    border-radius: 56px;
  }

  .sidebar a:hover:not(.active) {
    color: #aa0136;
  }

  div.content {
    margin-left: 277px;
    padding: 1px 16px;
    height: 1000px;
  }

  .overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: -50;
    left: 0;
    background-color: white;
    overflow-y: hidden;
    transition: 0.5s;
  }

  .overlayClose {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-y: hidden;
    transition: 0.5s;
  }

  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #aa0136;
    display: block;
    transition: 0.3s;
  }

  .overlay a:hover,
  .overlay a:focus {
    color: black;
  }

  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

  @media screen and (max-height: 650px) {
    .overlay {
      overflow-y: auto;
    }
    .overlay a {
      font-size: 20px;
    }
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }

  @media screen and (max-width: 1099px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
      border: 1px solid #ffffff;
    }
    .sidebar a {
      float: left;
    }
    div.content {
      margin-left: 0;
    }
  }
  .sidebar .icon {
    display: none;
  }

  @media screen and (max-width: 1100px) {
    .sidebar a:not(:first-child) {
      display: none;
    }
    .sidebar a.icon {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 500px) {
    .sidebar.responsive {
      position: relative;
    }
    .responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .sidebar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
}
