<<<<<<< HEAD
.AboutUsHero * {
  margin: revert !important;
    box-sizing: revert !important;
    padding: revert !important;
}
.AboutUsHero {
    padding: 0px 124px 80px 124px !important;
    margin: 0 !important;
    font-family: 'Nunito' !important;
  }
  .hero-header {
    text-align: center !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 24px !important;
    color: #aa0136 !important;
  }
  .hero-text {
    text-align: center !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 45px !important;
    line-height: 52px !important;
    text-align: center !important;
    color: #131313 !important;
  }
  
  @media screen and (max-width: 1024px) {
    .AboutUsHero {
      padding: 0px 32px 64px 32px !important;
=======
.AboutHero {
  .AboutUsHero * {
    margin: revert;
    box-sizing: revert;
    padding: revert;
  }
  .AboutUsHero {
    padding: 0px 124px 80px 124px;
    margin: 0;
    font-family: "Nunito";
  }
  .hero-header {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #aa0136;
  }
  .hero-text {
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 52px;
    text-align: center;
    color: #131313;
  }

  @media screen and (max-width: 1024px) {
    .AboutUsHero {
      padding: 0px 32px 64px 32px;
>>>>>>> FE-main
    }
  }
  @media screen and (max-width: 500px) {
    .AboutUsHero {
<<<<<<< HEAD
      padding: 0px 16px 62px 16px !important;
  
    }
    .hero-header {
      text-align: left !important;
      font-size: 16px !important;
      line-height: 24px !important;
    }
    .hero-text {
      font-size: 36px !important;
      text-align: left !important;
      line-height: 44px !important;
    }
  }
=======
      padding: 0px 16px 62px 16px;
    }
    .hero-header {
      text-align: left;
      font-size: 16px;
      line-height: 24px;
    }
    .hero-text {
      font-size: 36px;
      text-align: left;
      line-height: 44px;
    }
  }
}
>>>>>>> FE-main
