.Button {
  padding: 16px;
  background: #aa0136;
  border-radius: 56px;
  color: #fff;
  width: 230px;
  border: 1px solid #aa0136;

  @media screen and (max-width: 900px) {
    width: 150px;
    padding: 10px;
  }
}
