.Billing {
  padding: 60px 2rem;

  section {
    margin: 40px 0;
  }

  .heading {
    text-align: center;

    h1 {
      font-weight: 600;
      font-size: 35px;
      margin: 0;
      margin-bottom: 8px;
    }

    p {
      font-weight: 500;
      font-style: italic;
      font-size: 24px;
      color: #aaaaaa;
      margin: 0;
    }
  }

  .debit-cards {
    display: flex;
    justify-content: center;
    gap: 87px;
    align-items: center;
    padding: 0 2rem;

    .icons {
      width: 10%;
    }
  }

  .main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    max-width: 900px;
    gap: 87px;
    padding: 5rem 0;
  }

  .form-sect {
    .heading {
      font-size: 22px;
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-bottom: 32px;

      span {
        width: 40px;
        border: 1px solid;
        border-radius: 50%;
        padding: 7px;
        font-size: 16px;
      }
    }

    .form-group {
      display: grid;
      gap: 8px;
      margin-bottom: 32px;
      width: 100%;

      input {
        padding: 12px;
        border: 1px solid #bbbbbb;
        border-radius: 20px;
        width: 100%;
      }

      input {
        background-color: #e8f0fe;
      }

      #exp-month,
      #exp-year {
        border: 1px solid #bbbbbb;
        border-radius: 30px;
        width: 100%;
      }

      option {
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        background-color: #f9f9f9;
      }

      #exp-year, #exp-month {
        padding-block: 12px;
        border-radius: 20px;
        padding-inline: 8px;
        
      }

      #label-tag {
        width: 150%;
      }

      input:invalid {
        background-color: #ffffff;
      }
    }

    .card-info {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 100%;
      gap: 50px;
    }
  }
  .form-control {
    width: max-content;
    margin: auto;
  }

  #billing-form-control-btn {
    width: 230px;
    height: 50px;
    background-color: #aa0136;
    color: #ffffff;
    border: 1px solid #aa0136;
    border-radius: 56px;
    padding: 12px 24px;
  }

  #expired {
    width: 150%;
    padding-right: 50px;
  }

  @media (max-width: 1200px) {
    .main,
    .debit-cards {
      gap: 20px;
    }
  }

  @media (max-width: 900px) {
    .heading {
      h1 {
        font-size: 40px;
      }
      p {
        font-size: 18px;
      }
    }

    .main {
      grid-template-columns: 1fr;
      gap: 80px;
    }
  }

  @media (max-width: 600px) {
    padding: 40px 1rem;
    .heading {
      h1 {
        font-size: 32px;
      }
      p {
        font-size: 16px;
      }
    }
  }
}
