.UserDashboardHeader {
  
  .dashHead {
    overflow: hidden;
  }
  .story{
    padding: 32px 0px 0px 0px
  }

  .dashHead a {
    float: left;
    font-size: 22px;
    line-height: 28px;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }

  .dropdown {
    float: right;
    overflow: hidden;
    padding: 32px 32px 0px 0px;
  }

  .dropdown .dropbtn {
    background-color: #ffffff;
    color: #a50a17;
    padding: 5px;
    gap: 0px;
    display: flex;
    border: 0;
    cursor: pointer;
    border: 1px solid #aa0136;
    border-radius: 8px;
  }

  .navbar a:hover,
  .dropdown:hover .dropbtn {
    background-color: #a50a17;
    color: white;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .hrCol {
    padding: 25px 25px 2px 25px;
  }
  @media screen and (max-height: 1050px) {
    .dropdown {
        padding: 6px;
      }
      .story {
        padding: 6px;
      }
    .dropdown .dropbtn {
      padding: 5px 15px;
      width: revert;
    }
    .dashHead a {
      font-size: 20px;
    }
  }
}
