.UserDashboardHeader {
  * {
    padding: 16px 16px 0px 16px;
  }
  .dashHead {
    overflow: hidden;
  }

  .dashHead a {
    float: left;
    font-size: 22px;
    line-height: 28px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .dropdown {
    float: right;
    overflow: hidden;
  }

  .dropdown .dropbtn {
    background-color: #ffffff;
    color: #a50a17;
    padding: 14px;
    gap: 0px;
    display: flex;
    border: 1;
    cursor: pointer;
    border: 1px solid #aa0136;
    border-radius: 8px;
  }

  .navbar a:hover,
  .dropdown:hover .dropbtn {
    background-color: #a50a17;
    color: white;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
}
.hrCol{
  padding: 25px;
}



