@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");

  * {
    margin: 0;
    padding: 0;
  }
  .dashboard1 {
    display: flex;
    width: 20%;
    margin: auto 0;
    
  }
  
  /* Sidebar */
  
  .sidebar1 {
    width: 100%;
    // background: red;
    padding: 30px;
    position: static;
  }
  
  .side1 {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    padding: 10px;
  }
  
  .side1 img {
    width: 12%;
  }
  
  .push {
    margin: 50px 0;
  }
  
  .push2 {
    margin: 100px 0;
  }
  
  .side p {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    // color: #787777;
  }
  
  .side:hover, 
  .side:focus {
    background: #aa0136;
    border-radius: 56px;
    
    cursor: pointer;
  } 
  
  .side > p:hover {
    color: #f7f8f8;
  }
  
  
  /* Avatar zone */
  
  .avatar-zone {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    top: 300px;
  }
  
  .avatar {
    display: flex;
    justify-content: center;
  }
  
  .avatar img {
    width: 20%;
    margin-bottom: 10px;
  }
  
  .avatar-zone h4 {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #131313;
  }
  
  .avatar-zone p {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #717171;
  } 
  
  /*Log out */
  .log-out {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    padding: 10px;
    background: #ffffff;
    border-radius: 56px;
    cursor: pointer;
    position: relative;
    top: 300px;
  }
  
  .log-out img {
    width: 12%;
  }
  
  .log-out p {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #787777;
  } 
  
  .dropbtn {
    border: none;
  }
  
  
  input::-webkit-input-placeholder {	
    font-weight: 500px;
    font-size: 11.5px;
    line-height: 20px;
    color: #8D8E91;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .span {
      color: #f83f23;
  }
  
  .img {
      width: 70px;
      border-radius: 50%;
      height: 60px;
  }
  
  .wrapper-div {
    width: 720px;
    margin: 0 auto;
    padding: 15px;
  }
  
  .wrapper-div > h2 {
      margin-top: 10px;
  }
  
   .cover-section {
    margin: 20px 30px;
    line-height: 36px;
  }
  
  .App1 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 100vh;
    font-family: "Nunito", sans-serif;
  }
  
  .edit-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .edit-section > img {
    width: 24px;
  }
  
  .profile {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
  }
  
  .header {
    color: #aa0136;
    margin: 20px 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
  } 
  
  /* form section */
  ::placeholder {
    font-weight: 500px;
    font-size: 10px;
  }
  
  .form-sec {
      width: 78%;
  }
  
   .grid-section  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  
  .header-text {
    margin: 20px 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
  }
  
  .inputs {
    padding: 0 32px;
    border: 1px solid #e4e4e4;
    border-radius: 56px;
    margin: 10px 0;
  }
  
  .pass-section {
    width: 70%;
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
  
  .address-section {
    width: 70%;
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
  
  .btns {
    width: 80%;
    display: flex;
    justify-content: space-between;
    // gap: 15px;
    margin: 10px 0;
  }
  
  .btn1 {
    border: 1px solid #e4e4e4;
    width: 150px;
    background-color: #e4e4e4;
    padding: 5px;
    border-radius: 52px;
    margin: 0 0 5px 0;
  }
  
  .btn2 {
    border: 1px solid #aa0136;
    width: 150px;
    background-color: #aa0136;
    padding: 5px;
    color: white;
    border-radius: 52px;
    margin: 0 0 5px 0;
  } 
  @media only screen and (max-width: 480px) {
      .App1 {
          display: block;
          font-family: "Nunito", sans-serif; 
          width: 100%;
          /* margin: 0 auto; */
      }
      .cover-section {
          margin: 0 15px;
        }
  
        .dashboard1 {
          display: none;
        }
  
        .wrapper-div > h2 {
          margin-top: 0;
          margin-left: 5px;
      }
  
      .wrapper-div {
          width: 100%;
          margin: 0 auto;
        }
        .form-sec {
          width: 100%;
      }
      
       .grid-section  {
        display: block;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }
  
      .inputs {
          width: 100%;
        }
  
        .pass-section {
          width: 100%;
          display: block;
          justify-content: space-between;
        }
        
        .address-section {
          width: 100%;
          display: block;
        }
  
        .btns {
          width: 100%;
          display: flex;
          justify-content: space-between;
          gap: 110px;
        }
  
        .btn1 {
          width: 150px;  
          margin: 0 0 20px 0;
        }
        .btn2 {
          width: 150px;
          margin: 0 0 20px 0;
        } 
  }
