body.active-modal {
	overflow-y: hidden;
}

.modal-hidden {
	display: none;
}

.btn-modal {
	padding: 10px 20px;
	display: block;
	margin: 100px auto 0;
	font-size: 18px;
}

.modalcs {
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
}

 .overlay_4fd3 {
	width: 100%;
	height: 100%;
}

.overlay_4fd3 {
	background: rgba(49,49,49,0.3);
}
.modal-content-success-sty {
	background-color: #EDFFEB;
	border-left: 7px solid #009909;

	.mod-content-header {
		display: flex;
		align-items: center;
		justify-content: left;
		gap: 32px;
	
		& > img {
			width: 40px;
		}
		& > h2 {
			font-size: 30px;
			font-weight: 600;
			color: #009909;
		}
	}

	.message-text {
		color: #009909;
		font-size: 20px;
		padding-left: 10px;
	}
}

.modal-content-error-sty {
	background-color: #FFEDF1;
	border-left: 7px solid #C82D2C;

	.mod-content-header {
		display: flex;
		align-items: center;
		justify-content: left;
		gap: 32px;
	
		& > img {
			width: 40px;
		}
		& > h2 {
			font-size: 30px;
			font-weight: 600;
			color: #C82D2C;
		}
	}

	.message-text {
		color: #C82D2C;
		font-size: 20px;
		padding-left: 10px;
	}
}
.modal-content {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-evenly;
	gap: 12px;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #f1f1f1;
	padding: 14px 28px;
	border-radius: 3px;
	max-width: 600px;
	min-width: 250px;
	width: 350px;
}

.close-modal {
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 5px 7px;
	
	& > img {
		width: 24px;
		height: 24px;
	}
}
