.DashboardHeader {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    .head-menu{
        width: 30px;
        height: 3px;
        background-color: #222;
        border-radius: 99px;
        position: relative;
        margin: auto;
    }
    .head-menu::after,.head-menu::before{
        content: "";
        width: 30px;
        height: 3px;
        background-color: #222;
        border-radius: 99px;
        position: absolute;
    }
        .head-menu::after{
            top: 10px;
        }.head-menu::before{
            top: -10px;
        }
        .head-logo{
            width: 70px !important;
            position: relative;
            height: 50px !important;
            padding: 0 !important;
        }
}
