* {
    margin: 0;
    padding: 0;
}

.user-container {
  display: flex;
  gap: 20px;
  height: 100vh;
  font-family: "Nunito", sans-serif;
}

.user-sidebar {
  width: 15%;
  border: 1px solid black;
}

.user-wrapper {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding-top: 30px;
}

.fit {
    margin: 0 15px;
}

.head {
  color: #aa0136;
  margin: 20px 0;
}

.user-access {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e4e4e4;
  width: 100%;
  margin: 15px 0;
  padding: 15px 0;
}



.user-input > .icon {
  position: absolute;
  padding: 3px;
  min-width: 40px;
}

.user-input > input {
  width: 478px;
  padding: 9px 32px;
  border: 1px solid #787777;
  border-radius: 8px;
}

.user-input > button {
  width: 160px;
  background-color: #aa0136;
  color: white;
  border: 1px solid #aa0136;
  border-radius: 56px;
  padding: 9px;
}

.user-checkname {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 30px;
  padding: 5px 0;
}

.user-checkname > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.name-icon {
  position: relative;
  top: 4px;
}

.text {
  font-size: 12px;
}

.user-checkname > button {
  border: none;
  background-color: white;
}

.user-names > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 1px;
  word-spacing: 2px;
  border-bottom: 1px solid #e4e4e4;
  margin: 15px 0;
  padding: 10px 0;
}

.user-btns {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 10px;
  margin: 35px 0 0 0;
  
}

.user-btn1 {
  width: 160px;
  padding: 9px;
  border: 1px solid #e4e4e4;
  background-color: #e4e4e4;
  color: black;
  border-radius: 56px;
}

.user-btn2 {
  width: 160px;
  padding: 9px;
  border: 1px solid #aa0136;
  background-color: #aa0136;
  color: white;
  border-radius: 56px;
}
@media only screen and (max-width: 480px) {
    .user-container {
        display: block;
        gap: 0;
        height: 100vh;
        font-family: "Nunito", sans-serif;
      }

      .user-wrapper {
        width:  100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        padding-top: 30px;
    }

    .user-input {
        display: flex;
        justify-content: space-between;
        gap: 15px;
        align-items: center;
        margin: 15px 0;
      }
      
      .user-names > div {
        margin: 15px 0;
        padding: 10px 0;
      }

      .user-btns {
        display: flex;
        justify-content: right;
        align-items: center;
        gap: 100px;
        margin: 25px 0 0 0;
      }
      
      .user-btn1 {
        padding: 15px;
      }

      .user-btn2 {
        padding: 15px;
      }
}
