.Testimonial_wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7F7F7;
    padding-block: 3rem;

    .testimonial{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-inline: 10%;
    }

    .testimony{
        padding-block-start: 1rem;
    }

}