.center-align {
  text-align: center;
}

#logo {
  width: 109px;
  margin-bottom: 32px;
}

.btn-primary {
  margin-bottom: 16px;
}

.or {
  margin-top: 16px;
  color: var(--primary-text-color);
  align-items: center;
  justify-content: center;
}

.or p {
  padding-left: 22px;
  padding-right: 22px;
}

.hLine {
  width: 85px;
  height: 1px;
  background-color: #D9D9D9;
}

.continue-with {
  margin: 24px 0;
}

.disclaimer {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  font-size: 12px;
}