.goal-container {
  display: flex !important;
  align-items: stretch !important;
  background-color: white !important;
  font-family: "Nunito" !important;
  padding: 0px 228px 0px 228px !important;
}

.goal-container > div {
  background: white !important;
  text-align: center !important;
}
.goalLeft {
  flex: 50% !important;
  padding: 0px 80px 60px 0px !important;
}
.goalRight {
  padding: 0px 0px 60px 80px !important;
  flex: 50% !important;
}
.goalheader {
  flex: 100% !important;
}
.goalimgLeft {
  width: 208.57px !important;
}
.goalimgRight {
  width: 223.93px !important;
}
.goalheadertext {
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 57px !important;
  letter-spacing: -0.25px !important;
  color: #131313 !important;
  line-height: 1px !important;
}

.goalTop {
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 24px !important;
  line-height: 32px !important;
  text-align: center !important;
  color: #131313 !important;
}
.goalBottom {
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  letter-spacing: 0.5px !important;
  color: #131313 !important;
}

.hr {
  border: 2.5px solid #aa0136 !important;
  border-radius: 5px !important;
  background-color: #aa0136 !important;
  width: 120px !important;
}
@media screen and (max-width: 1024px) {
  .goal-container {
    padding: 0px 32px 0px 32px !important;
  }
  .goalheadertext {
    font-size: 36px !important;
  }
  .goalLeft {
    flex: 100% !important;
    padding: 0px 60px 0px 0px !important;
  }

  .goalRight {
    flex: 100% !important;
    padding: 0px 0px 0px 60px !important;
  }

  .goalimgLeft {
    width: 208.57px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .goalimgRight {
    width: 223.93px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media screen and (max-width: 550px) {
  .goal-container {
    padding: 0px 47px 0px 47px !important;
    flex-direction: column !important;
  }
  .goalheadertext {
    font-size: 20px !important;
    line-height: 25px !important;
  }
  .goalLeft {
    flex: 100% !important;
    padding: 1px !important;
  }

  .goalRight {
    flex: 100% !important;
    padding: 1px !important;
  }

  .goalimgLeft {
    width: 208.57px !important;
    padding: 1px !important;
    
  }
  .goalimgRight {
    width: 223.93px !important;
    padding: 1px !important;
  }

  .hr {
    border: 1.5px solid #aa0136 !important;
    border-radius: 5px !important;
    background-color: #aa0136 !important;
    width: 50px !important;
  }
}
