.DashboardTable {
    background-color: #fff;
}
img{
    width: 30px !important;
}
.options, .options div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    width: 10px;
    height: 10px;
    border-radius: 99px;
}