:root {
  --primary-color: #AA0136;
  --primary-text-color: #131313;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.link {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

/* login and signup page styles  */

.tab-link {
  color: #717171;
  padding-bottom: 12px;
  border-bottom: 1px solid #D9D9D9;
  display: block;
  width: 100px;
}

.tab-link.active {
  color: #131313;
  border-bottom: 2px solid #3F444D;
}

.auth-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.form {
  text-align: left;
}

.label {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  color: #131313;
}

.input {
  margin-top: 12px;
  margin-bottom: 24px;
  border: 1px solid #BBBBBB;
  padding: 16px 20px;
  border-radius: 30px;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 14px;
  width: 100%;
}

.btn {
  display: block;
  width: 100%;
  border-radius: 30px;
  padding-top: 14px;
  padding-bottom: 14px;
  border-color: transparent;
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
}

.btn-primary {
  background-color: var(--primary-color);
}

.flex {
  display: flex;
}

.btn-round {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border-color: transparent;
  background-color: transparent;
  padding: 0;
  margin-right: 8px;
}

.btn-round-img {
  display: block;
  width: 100%;
}