.sceneWrapper {
	/* border: 3px solid black; */
	max-width: 1000px;
}

.image_container_xxs {
	border-radius: 10px;
	display: flex;
	margin: 0 auto;
	width: 70%;
	height: 500px;
	overflow: hidden;
}
.image_container_xxs img {
	width: 100%;
}

.sceneWrapper p {
	text-align: center;
	margin: 10px 0 40px;
}