.AdminDashboard {
    padding: 2rem 4rem;
    background: #F5F5F5;
}
.welcome-text{
    font-weight: 500;
    font-size: 2rem;
    color: #646363;
}
.users-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 2rem 0;
}
.grid--box{
    border: 1px solid #E4E4E4;
    text-align: center;
    padding: 1rem;
    border-radius: 8px;
}
.grid-number{
    font-size: 3rem;
    font-weight: 700;
    color: #000000;
    margin: 0;
}
.grid-header, .table-header{
    font-size: 1.5rem;
    color: #000000;
    font-weight: 600;
    margin: 0;
}
.text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text p{
    color: #7B7A7A;
    font-weight: 600;
}
.table-header{
    margin: 1rem 0;
}
.table-section{
    border: 1px solid ;
    padding: 1rem 2rem;
    border-radius: 8px;
    border: 1px solid #E4E4E6;
}
.table{
    padding: 1rem;
    width: 100%;
}
.table tr{
    border: 1px solid #E4E4E4;
}
.table th{
    color: #181818;
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
}
.table td, .table th{
    padding: 1rem 8px;
    border: 1px solid #E4E4E4;
    gap: 1rem;
}
.table td{
    font-size: 1rem;
}

@media screen and (min-width: 481px) and (max-width: 920px) {
    .users-grid{
        grid-template-columns: 1fr;
    }
    .table-scroll{
        overflow-x: scroll;
    }
}

@media screen and (max-width: 480px) {
    .AdminDashboard{
        padding: 2rem;
    }
    .users-grid{
        grid-template-columns: 1fr;
    }
    .table-header{
        font-size: 1rem;
    }
    .table-scroll{
        overflow-x: scroll;
    }
}