div{
.dashboard {
  display: flex;
  width: 100%;
  height: 100vh;
}
/* Main board */
.main-board {
  width: 80%;
  padding: 30px;
  margin-left: 280px;
}

.user-header h1 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  color: #181818;
}

.user-track {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-track img {
  width: 0.7%;
}

.user-track p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #aa0136;
}

.user-track .admin {
  color: #787777;
}

/* User Information */
.user-info {
  display: flex;
  background: #ffffff;
  box-shadow: 2px 2px 10px rgba(165, 141, 141, 0.07);
  margin-top: 30px;
  margin-bottom: 30px;
}

.user-image img {
  width: 70%;
}

.status {
  display: flex;
  align-items: center;
  gap: 20px;
}

.status h3 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  color: #181818;
}

.status span {
  background: #e9fff8;
  border-radius: 50px;
  padding: 5px 15px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #08875d;
}

.user-cred p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #181818;
}

/* About User */
.about-user,
.personal-info,
.user-analytics,
.stories-users {
  background: #ffffff;
  box-shadow: 2px 2px 10px rgba(165, 141, 141, 0.07);
  margin-bottom: 30px;
  padding: 30px;
}

.about-user h1,
.personal-info h1,
.user-analytics h1,
.stories-header h1 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  color: #181818;
  margin-bottom: 30px;
}

.about-user p {
  margin-bottom: 30px;
}

.personal-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.inner-card {
  display: flex;
  align-items: center;
}

.inner-card img {
  width: 12%;
}

.card-info h4 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #181818;
}

.card-info p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  color: #717171;
  font-size: 12px;
}

/* User Analytics */
.analytics-board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.inner-board {
  width: 80%;
}

.board-text {
  text-align: center;
  margin-top: 20px;
}

.board-text p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: #787777;
}

/* Stories Users */

.stories-header {
  display: flex;
  justify-content: space-between;
}

.stories-header p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #787777;
  cursor: pointer;
}

.stories-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.stories-card {
  border: 0.5px solid #d2d2d2;
  border-radius: 12px;
  padding: 5px;
}

.stories-card img {
  width: 100%;
  border-radius: 12px;
}

.stories-card-text {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px;
}

.more-icon img {
  width: 100%;
  cursor: pointer;
}

.inner-card-text h4 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  text-transform: capitalize;
  color: #131313;
}

.inner-card-text p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  text-transform: capitalize;
  color: #787777;
}

/* Responsiveness starts here */

@media (max-width: 1024px) {
  /* Main board */
  .main-board {
    margin-left: 200px;
  }
}

@media screen and (max-width: 700px) {
  .dashboard .main-board {
    margin-left: 33px;
    width: 85%;
    padding: 0px;
    padding-top: 50px;
}
}

@media screen and (max-width: 400px) {
  .side p {
    text-align: center;
    float: none;
  }
}

@media (max-width: 991px) {
  .sidebar {
    width: 30%;
  }
  // .main-board {
  //   margin-left: 280px;
  //   width: 70%;
  // }
  .personal-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
  .analytics-board {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
  .stories-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .about-user,
  .personal-info,
  .user-analytics,
  .stories-users {
    background: #ffffff;
    box-shadow: 2px 2px 10px rgba(165, 141, 141, 0.07);
    margin-bottom: 30px;
    padding: 10px;
  }
  .about-user h1,
  .personal-info h1,
  .user-analytics h1,
  .stories-header h1,
  .user-header h1 {
    font-size: 25px;
  }
}

}

